{{ define "main" }}
	<main>
		<br>
		{{ $listtitle := .Title }}
		<!--
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ lower . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}-->
		
		<ul>
        {{ $experiences := .Site.GetPage $listtitle }}

        {{ $ordered := $experiences.Pages.ByParam "weight" }}
        {{ $reversed := $ordered.Reverse }}
        {{ $paginator := .Paginate $reversed 4 }}
        {{ range $paginator.Pages }}
		    <li>
		        <div class="post-title">
				{{ if eq $listtitle "Posts" }}
				    {{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}">{{.Title }}</a>
				{{ else }}
				    <a href="{{ .RelPermalink }}">{{.Title }}</a><br><small>{{ .Param "subtitle.sub" }}</small>
				{{ end }}
		        </div>
		    </li>
		    {{ end }}
		</ul>
		<br><br>
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
