@font-face {
	font-family: "Kohinoor Bangla Regular";
	src: url("../fonts/KohinoorBangla/KohinoorBangla-Regular.ttf");
}

@font-face {
	font-family: "Franklin Gothic Book Regular";
	src: url("../fonts/franklin_gothic_book_regular.ttf");
}

@font-face {
	font-family: "Franklin Gothic Demi";
	src: url("../fonts/ITCFranklinGothicDemi/FranklinGothic-Demi.ttf");
}

html, body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background-color: #ffbf4d;
	font-family: "Franklin Gothic Book Regular";
	overflow-x: hidden;
}

.view {
	position: relative;
	width: 100%;
	height: 100%;
}

.view .center {
	position: relative;
	top: 40%;
	left: 0;
}

h1 {
	font-size: 60px;
	font-family: "Kohinoor Bangla Regular";
}

h2 {
	font-size: 52px;
	font-family: "Kohinoor Bangla Regular";
}

h3 {
	font-size: 45px;
}

h2 strong {
	font-family: "Franklin Gothic Demi";
}

.view .arrow {
	width: 60px;
}

.buttons {
	position: absolute;
	width: 30%;
	left: 35%;
}

.buttons .button {
	width: 50%;
	float: left;
	padding: 30px;
}

.buttons .button p {
	padding: 7px;
	border-radius: 10px;
	background-color: #cccccc;
	font-size: 25px;
	box-shadow: 5px 5px #848484;
}

.portfolio {
	position: absolute;
	left: 0;
	margin-top: 10%;
}

article {
	margin-top: 50px;
}

.portfolio article img {
	width: 100%;

	-webkit-transition: transform 500ms, width 500ms;
	-moz-transition: transform 500ms, width 500ms;
	-ms-transition: transform 500ms, width 500ms;
	-o-transition: transform 500ms, width 500ms;
	transition: transform 500ms, width 500ms;
}

.portfolio article:hover img {
	width: 110%;
	
	-webkit-transform: translate(-5%);
	-moz-transform: translate(-5%);
	-ms-transform: translate(-5%);
	-o-transform: translate(-5%);
	transform: translate(-5%);

	-webkit-transition: transform 500ms, width 500ms;
	-moz-transition: transform 500ms, width 500ms;
	-ms-transition: transform 500ms, width 500ms;
	-o-transition: transform 500ms, width 500ms;
	transition: transform 500ms, width 500ms;
}

.portfolio

.portfolio article .button {
	margin-top: 40px;
	text-align: center;
}

.portfolio article .button a {
	padding: 7px;
	border-radius: 10px;
	background-color: #cccccc;
	font-size: 25px;
	box-shadow: 5px 5px #848484;
}

@media screen and (max-width: 911px) {
	.portfolio {
		padding: 60px;
	}
}

@media screen and (max-width: 425px) {
	.portfolio {
		padding: 30px;
	}
}

/* ------------------------------------ opaquer */

.opaquer .opaque {
	opacity: 0;
}