<header>
	{{ strings.Repeat ( .Site.Title | len ) "-" }}<br>
	 <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> <br>
	{{ strings.Repeat ( .Site.Title | len ) "-" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
		{{ $currentPage := . }}
		{{ with .Site.Menus.main }}
		{{ range . }}
			{{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
  			{{ $active = or $active (eq .Name $currentPage.Title) }}
  			{{ $active = or $active (and (eq .Name "education") (eq $currentPage.Section "education")) }}
  			{{ $active = or $active (and (eq .Name "experiences") (eq $currentPage.Section "experiences")) }}
  			{{ $active = or $active (and (eq .Name "projects") (eq $currentPage.Section "projects")) }}
			<a class="{{ if $active }}active{{ end }}" href="{{ .URL | relURL }}" title="{{ .Title }}" alt="{{ .Title }}"><b>{{ .Name }}</b></a>.
		{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
