{{ define "main" }}
	<main>
		<br>
		<br>
		Hi, <br>
		<br>
		I'm <b>Giulio Bosco</b> based in Lugano, Switzerland.<br>
		<br>
		Work: <b>SAP BO Users Operations Support</b> at <a alt="Drytech International SA" href="https://www.drytech.ch/indexEN.html" target="_blank">Drytech International SA</a>.<br>
		<br>
		<br>
		<br>
		Coding skills:
		<ul>
			<li>Procedural Programming / Algorithms Developing</li>
			<li>Object Oriented Programmig</li>
			<li>Event Oriented</li>
			<li>Concurrency Coding</li>
			<li>Test Driven Development</li>
			<li>Web developing</li>
		</ul>
		Systems skills:
		<ul>
			<li>UNIX/Linux</li>
			<li>DevOps</li>
			<li>Network management</li>
			<li>Backup & Storage Backup</li>
			<li>Clusters management</li>
		</ul>
		Main skills:
		<ul>
			<li>Team work</li>
			<li>Coding</li>
			<li>UNIX/Linux</li>
			<li>Containers</li>
		</ul>
		Hobby: 
		<ul>
			<li>Share my passions and skills</li>
			<li>Information technology</li>
			<li>Discovering new technologies</li>
			<li>Rowing</li>
		</ul>
		<br>
		<br>
		<br>
		<!--{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}-->
	</main>
{{ end }}
