name: Deploy

on:
  push:
    branches: [ master ]

jobs:

  build:
    name: Deploy on gh-pages
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Install Hugo
      run: |
        cd ..
        git clone https://github.com/gohugoio/hugo.git
        cd hugo
        go install
        ls ~/go/bin

    - name: Build Hugo
      run: ~/go/bin/hugo

    - name: Copy CNAME
      run: cp ./CNAME public/

    - name: Deploy branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: public
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Send notification to telegram bot
      uses: yanzay/notify-telegram@v0.1.0
      if: always()
      with:
        chat: ${{ secrets.chat }} # user id or channel name secret
        token: ${{ secrets.token }} # token secret
        status: ${{ job.status }} # do not modify this line
